/*============RESET================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/*============BASE================*/
html {
  -webkit-text-size-adjust: auto;
}

body {
  background-color: black;
  color: white;
  font: 400 1rem 'Fira Sans', sans-serif;
}

.button {
  height: 2.5rem;
  padding: 0 4rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
}

.divider {
  height: 1px;
  width: 100%;
  background: rgba(128, 128, 128, 0.435);
}

/*============LAYOUT================*/
.container {
  margin: 2rem;
}

/*============HOME================*/
#header {
  margin-bottom: 2.5rem;
}

.logo {
  margin-bottom: 2.5rem;
}

.logo i {
  color: rgb(214, 217, 219);
  font-size: 2.5rem;
}

#header h1 {
  font-size: 3rem;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.buttons {
  display: inline-grid;
  gap: 0.5rem;
}

#button-google .text-button {
  font-family: 'Roboto', sans-serif;
  color: #3c4043;
}

.buttons a img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.buttons a i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.buttons .or {
  display: flex;
  align-items: center;
}

.buttons .or p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.buttons #button-other {
  justify-content: center;
  background-color: rgb(0, 172, 237);
  color: white;
  padding: 0 2rem;
}

.terms {
  font-size: 0.7rem;
  color: rgba(214, 217, 219, 0.509);
  margin-bottom: 2rem;
}

.terms a {
  color: rgb(0, 172, 237);
}

.terms a:visited,
.terms a:hover {
  text-decoration: underline;
}

.have-account #signin {
  color: rgb(0, 172, 237);
}

.have-account a {
  background-color: transparent;
  border-color: rgba(168, 219, 237, 0.471);
  border-style: solid;
  border-width: 0.1rem;
}

/*------------------------------TWITTER ART------------------------------------------*/
.art {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}

.art .art-icon {
  position: absolute;
}

.art-background img {
  width: 100%;
  height: 100%;
}

.art-icon i {
  font-size: 15rem;
}

/*----------------------------FOOTER-----------------------*/
.footer {
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.footer p,
.footer a {
  align-items: center;
  color: rgba(214, 217, 219, 0.603);
  line-height: 0;
  padding: 6px;
  padding-top: 8px;
  display: flex;
  font-weight: 200;
}

.footer a:hover {
  text-decoration: underline;
}

p span {
  margin-top: 3px;
}

/*----------------------------RESPONSIVITY 768-----------------------*/

@media (min-width: 768px) {
  .button {
    font-size: 1.2rem;
  }

  .container {
    margin: 4rem;
  }

  #header {
    margin-bottom: 4rem;
  }

  .logo {
    margin-bottom: 5rem;
  }

  .logo i {
    font-size: 4.5rem;
  }

  #header h1 {
    font-size: 5rem;
  }

  main h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .buttons {
    gap: 1rem;
  }

  .buttons a img {
    width: 1.7rem;
    height: 1.7rem;
  }

  .buttons a i {
    font-size: 1.7rem;
  }

  .buttons .or {
    gap: 0.4rem;
  }

  .buttons .or p {
    font-size: 1.2rem;
  }

  /*------------------------------TWITTER ART------------------------------------------*/

  .art-background img {
    width: 100%;
    height: 100%;
    min-height: 30rem;
  }

  .art-icon i {
    font-size: 25rem;
  }

  .terms {
    font-size: 0.8rem;
  }

  /*----------------------------FOOTER-----------------------*/

  .footer p,
  .footer a {
    font-size: 0.85rem;
  }
}

/*----------------------------RESPONSIVITY 1024-----------------------*/
@media (min-width: 1024px) {
  /*----------------- BASE --------------------*/
  main {
    display: flex;
    align-items: center;
    max-height: calc(100vh - 51px);
  }

  .container {
    margin: 2rem;
  }

  .button {
    font-size: 1.1rem;
  }

  .flex {
    order: 1;
    max-height: calc(100vh - 51px);
  }

  .art {
    order: 0;
  }

  .art-background img {
    max-height: 100%;
    height: calc(100vh - 55px);
    object-fit: cover;
    width: 45vw;
  }

  /*----------------- BUTTONS SIDE --------------------*/
  .logo i {
    font-size: 3.5rem;
  }

  #header h1 {
    font-size: 4.2rem;
  }

  .login {
    width: 20.8rem;
  }

  .buttons a img {
    width: 1.3rem;
    height: 1.3rem;
  }

  .buttons a i {
    font-size: 1.5rem;
  }

  /*----------------- FOOTER --------------------*/
  .footer {
    padding: 0.5rem;
  }

  .footer p,
  .footer a {
    padding: 8px;
  }
}

/*----------------------------RESPONSIVITY 1200+-----------------------*/
@media (min-width: 1200px) {
  .art-background img {
    width: 55vw;
  }
}
